html {
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
}

.body-font {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

h1 {
    font-weight: 800;
}

h1 a {
    color: black;
    text-decoration: none;
}

.club-heading {
    /* Width needed to prevent overlap with the menu dropdown button.
    And also to cause brek to double lines at appropriate point. */
    width: 65%; 
    left: 0.5rem;
}

.container-fluid, .row {
    padding: 0;
}

/* Remove all padding and margins from Bootstrap Rows */

/* Hints gained for how to use criteria in assesst selectorsvia 
 https://stackoverflow.com/questions/5110249/wildcard-in-css-for-classes */

/* This fixes horizontal scrolling issue where 
Bootstrap styled elements paddings or magins
would increase the size of containing elements
beyond the screen width. */
.row, [class^="row-"] {
    padding: 0;
    margin: 0;
}

.col, [class^="col-"] {
    padding: 0;
    margin: 0;
}

.header-banner{
    background: url(../images/tkd-girls.jpg);
    background-size: cover;
    height: 400px;
    background-position: 45% 35%;
    position: relative;
    /* Top margin to be the same as the height of the nav area.
    Be mindful that if the header height changes due to altered
    content or due to differnt screen sizes then this value may
    need to be altered. */
    margin-top: 70px;   
}

.nav-area {
    height: 70px;
    background-color: white;
}

@media (max-width:767px) {
    .nav-area {
        height: 100px;
    }

    .header-banner{
        /* Top margin to be the same as the height of the nav area.
        Be mindful that if the header height changes due to altered
        content or due to differnt screen sizes then this value may
        need to be altered. */
        margin-top: 100px;   
    }
}

/* Position the header text vertically centred. */
.align-vertical-center {
        /* Styles taken from W3C Schools Guide https://www.w3schools.com/howto/howto_css_center-vertical.asp */
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        /* --- */
}

.no-break {
    white-space: nowrap;
}

.header-banner h2{
    padding: 20px;
    text-align: center;
}

.quarter-transparent-highlight-white {
    background-color: rgba(255, 255, 255, .75);
}

@media (min-width: 576px) {
    .header-banner h2{
        padding: 10px;
        width: 50%;
    }
}

.nav-item{
    border-left:2px solid black;
    border-top:2px solid black;
}

.navbar-nav .nav-link{
    padding-left: 10px;
}

.navbar-light {
    padding-bottom: 0;
    height: 100%;
}

.navbar-nav {
    margin-top: auto;
    border-bottom: 2px solid black;
    background: white;
}


.navbar-collapse {
    padding-top: 23px; /* Drops the navigation down to become level with the top of the next page area */
}

/* The beolow style needs the media query as it inturups the function
of the bootstrap animatimation on the nav element if set while using 
the dropdown */
@media (min-width: 767px) {
    .navbar-collapse {
        height: 100%; /* Helps to align the navigation to the bottom of its area. */
        padding-top: 10px;
    }
}

/* The burger button container */
.navbar-toggler {
    margin-top: 23px;
    margin-right: .5rem;
}


.mid-page-image {
    background: url(../images/competition-arena.jpg);
    background-size: cover;
    height: 300px;
    background-position-x: 80%;
    background-position-y: 60%;
}


.black-top-border-5 {
    border-top: 5px solid black;
}

.black-top-border-3 {
    border-top: 3px solid black;
}

.black-bottom-border-5 {
    border-bottom: 5px solid black;
}

h3 {
    text-align: center;
}

.section-padding {
    padding: 35px;
}

.section-padding p {
    padding: 15px 30px;
    margin: 0;
}

.list-inline {
    padding: 20px;
}
.list-inline-item {
    padding: 20px;
}

.why-taekwondo-styles {
    padding-top: 35px;
}

/* ------------------------------------- Footer Styling */
footer {
    background-color: rgb(192, 192, 192);
}

/* Media query to force footer down on larger monitors
that then have much taller viewport than the content
of the page, resulting in the footer not being at
the bottom.  */
@media (min-width: 1440px) {
    footer {
        margin-top: calc(100vh - 952px);
    }
}

footer a {
    text-decoration: none;
    font-size: 16px;
}

footer a i{
    font-size: 1.25rem;
    padding: 0 5px;
}

.social-link-container {
    text-align: center;
    min-width: 47px;
    padding: 0 5px;
}

@media (max-width: 1200px) {
    .social-site {
        display: inline-block;
        visibility:hidden;
        width:0;
        font-size: 0;
    }
}

@media (max-width: 645px) {
    .social-link-container {
        padding: 0 40px;
    }
}

@media (max-width: 451px) {
    .social-link-container {
        padding: 0 30px;
    }
}

@media (max-width: 360px) {
    .social-link-container {
        padding: 0 20px;
    }
}

@media (max-width: 300px) {
    .social-link-container {
        min-width: 41px;
        padding: 0 3px;
    }
}

/* ---------------------------------------------- Contact Page */

.contact-block {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.contact-block  button{
    margin: 35px 0;
}

.contact-header-banner{
    background: url(../images/dobok-top.jpg);
    background-size: cover;
    height: 400px;
    background-position: 45% 80%;
    position: relative;
}

@media (min-width: 1200px) {
    .contact-block {
        padding-top: 95px;
        padding-bottom: 95px;
    }

    .contact-header-banner{
        height: 460px;
    }
}

/* ------------------- Modal */

.form-group-message{
    padding-top:12px;
}

/* ---------------------------------------------- Classes Page */

iframe {
    width: 100%;
    height: 100%;
    min-width: 48vw;
    min-height: 45vh;
}

.iframe-container {
    padding-left: 0;
}

@media (max-width: 575px) {
    .iframe-container {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-top: 0;
        border-top: 5px solid black;
    }
}

.flex-vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.address-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

address {
    display: flex;
    flex-direction: column;
}

address .address-line {
    padding: 0;
}


/* ------------------------------------- Special */

/* Navigation points used to allow #linking to specific
areas of the document. Due to the fixed heading they
need to actually be above where the content actually
is, therefore the negative position.
Rather than matching the exact height of the header
they have an addition 5px to avoid having them sit
with two blaock border touching each other.
They need to be placed at the bottom of the 
preceeding section to avoid their position being
disrupted by padding on the actual content they are
linking to. */
.navigation-point {
    position: relative;
    top: -65px;
}

@media (max-width:767px) {
    .navigation-point {
        top: -95px;
    }
}

/* ----------------------------------------------- 404 */
.four-o-four {
    /* need to get underneath the fixed header */
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23vh 50px;
}

