body {
    margin: 0;
    padding: 0;
}

.container-fluid, .row {
    padding: 0;
}

/* Remove all padding and margins from Bootstrap Rows */

/* Hints gained for how to use criteria in assesst selectorsvia 
 https://stackoverflow.com/questions/5110249/wildcard-in-css-for-classes */

/* This fixes horizontal scrolling issue where 
Bootstrap styled elements paddings or magins
would increase the size of containing elements
beyond the screen width. */
.row, [class^="row-"] {
    padding: 0;
    margin: 0;
}

.col, [class^="col-"] {
    padding: 0;
    margin: 0;
}

.header-banner{
    background: url(../images/hero-image.png);
    background-size: cover;
    height: 400px;
    position: relative;
}

/* Position the header text virtically centred. */
.header-banner h2{
    /* Styles taken from W3C Schools Guide https://www.w3schools.com/howto/howto_css_center-vertical.asp */
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /* --- */
    padding: 20px;
}

@media (min-width: 576px) {
    .header-banner h2{
        padding: 10px;
        width: 50%;
    }
}